<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Nunito&display=swap" rel="stylesheet">
  <title>Diary: Login</title>
</head>

<body class="screen">
  <div class="frame">
    <h1>Diary Login</h1>
    <hr>
    <form>
      <div class="error" style="color: red;"></div><br>
      <label for="username">Username</label><br>
      <input type="text" id="username" required /><br><br>
      <label for="password">Password</label><br>
      <input type="password" id="password" required><br><br>
      <input type="submit" value="Login" class="button"><br><br>
    </form>
    Don't have an account? <a href="/register" class="link">Register</a>
  </div>
</body>
<script src="js/login.js"></script>

</html>