.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Hanken Grotesk', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.link{
    text-decoration: underline;
}

.button {
    background-color: rgb(16, 141, 120);
    padding: 7px;
    border-style: solid;
    border-color: white;
    color: white;
}

hr, br {
    background-color: white;
    height: 1px;
    border-style: none;
}

.defined {
    width: 300px;
}

#content {
    height: 60px;
    width: 300px;
}

#profile {
    width: 300px;
}

.frame{
    background-color: rgb(31, 117, 188);
    padding: 25px;
    border-style: solid;
    border-color: beige;
}

table {
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #cecfd5;
    padding: 10px 15px;
}

tfoot tr:last-child td {
    border-bottom: 0;
}